<div class="bootstrap-iso">
    <h3>Userscript Options</h3>
    <div id="options_container">
        <div class="row text-left">
            <div class="col-md-3">
                <h5 class="text-center">General Options</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="checkForUpdates">Check for updates</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addPMToUsernames">Add [PM] link to usernames</label>
                </div>
				<div class="checkbox">
					<label><input type="checkbox" class="pref-checkbox" value="addStaffPMsLinkToProfile">Add Staff PMs link to user profile page.</label>
				</div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addSnatchlistLink">Add Snatchlist link to user profiles</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="modifyUserProfileOptionsPage">Add options to user profile edit page</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="blockUserStamps">Block all stamps on user profiles</label>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Staff PM Options</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="staffPMBBcodeGenerator">Add staff note generator</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="selfAssignStaffPM">Add self assign button</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="autoOpenCommonAnswers">Always open Common Answers</label>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Forum Options</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addPMToForums">Add [PM] link to usernames</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="forumFLSBBcodeGenerator">Add FLS staff note generator</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="forumTVTechBBcodeGenerator">Add TV Tech staff note generator</label>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Report Options</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="disableReportsAutorefresh">Disable autorefresh on reports page</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addLinksToReports">Highlight and add links to single episode reports</label>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-3">
                <h5 class="text-center">General Torrent Options</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="requestBBcodeGenerator">Add request staff note generator</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addReseedButton">Add Reseed button to all torrents</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="torrentSearchesNewLine">Put torrent search links on new line</label>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Torrent List Options</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="expandReleaseNames">Expand release names on hover</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addWatchedSeries">Add marker to watched series</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="addWatchedUsers">Add marker to watched users</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="colorCodeTorrents">Color code torrent information</label>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="text-center">Torrent Editing Options</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="autofillSeriesPage">Add series page autofill</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="autofillTorrentGroup">Add torrent group autofill</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="noBannerLinks">Add "no banner" quick fill buttons</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="internalModifier">Automatically modify internal torrents</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="checkReleaseNameLength">Check release name length</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="blockContainerChange">Block automatic container change</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="internalModifier">Add staff note generator</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="seasonPackMassDelete">Add season pack cleaner</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="expandMassDeleteReleaseNames">Expand release names on mass delete page</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="autoTorrentFix">Add automatic torrent fixer</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row text-left">
            <div class="col-md-3">
                <h5 class="text-center">Hide Search Boxes</h5>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchTorrents">Hide Torrents</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchSeries">Hide Series</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchActors">Hide Actors</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchRequests">Hide Requests</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchForums">Hide Forums</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchLog">Hide Log</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="pref-checkbox" value="HideSearchUsers">Hide Users</label>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Hide Other</h5>
				<div class="checkbox">
					<label><input type="checkbox" class="pref-checkbox" value="HideAvatars">Hide user avatars</label>
				</div>
            </div>
		</div>
        <div class="row text-left">
            <div class="col-md-6">
                <h5 class="text-center">Torrent Search Providers</h5>
                <textarea rows="8" id="torrent-search-json"></textarea>
            </div>
            <div class="col-md-6" id="torrent-search-options">
                <h5 class="text-center">Enabled Search Providers</h5>
                <div class="row">
                    <div class="col-md-6" id="search-left">
                        <div class="checkbox">
                            <label><input type="checkbox" class="pref-checkbox" value="searchLog">Site log</label>
                        </div>
                    </div>
                    <div class="col-md-6" id="search-right">

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-6">
                <h5 class="text-center">User Information</h5>
                <input type="text" placeholder="BTN Authkey" id="btnAuthkey">
                <input type="text" placeholder="BTN Passkey" id="btnPasskey">
            </div>
            <div class="col-md-6">
                <h5 class="text-center">TVDB API Information</h5>
                <input type="text" placeholder="API Key" id="tvdbAPIkey">
                <input type="text" placeholder="Username" id="tvdbUsername">
                <input type="text" placeholder="User Key" id="tvdbUserkey">
            </div>
        </div>
    </div>
    <button id="preferences_save" class="dialog">Save</button>
    <button id="preferences_cancel" class="dialog">Cancel</button>
</div>